// Base style
* {
	box-sizing: border-box;
}
html,
body {
	margin: 0;
	padding: 0;
	color: var(--textColor);
}

a {
	text-decoration: none;
	color: inherit;
	margin: 0;
	padding: 0;
	transition: all 0.3s;
	&:hover {
		color: var(--themeColor);
	}
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
li {
	margin: 0;
	padding: 0;
}

@media (min-width: 1200px) {
	.container {
		max-width: 1180px;
	}
}

.standard-section {
	padding: 165px 0 190px 0;
}

.section-title {
	margin-bottom: 92px;
	h5 {
		font-size: 24px;
		line-height: 72px;
		color: var(--themeColor);
		letter-spacing: -0.025px;
	}
	h2 {
		font-size: 60px;
		line-height: 90px;
		letter-spacing: -2px;
	}
}

.view-all-link {
	text-align: center;
	a {
		font-size: 18px;
		line-height: 36px;
		font-weight: 800;
		position: relative;
		&::after {
			position: absolute;
			content: '';
			bottom: -10px;
			left: 0;
			width: 100%;
			border-bottom: 2px solid var(--themeColor);
		}
	}
}
