:root {
	--overpassFont: 'Overpass', sans-serif;
	--robotoFont: 'Roboto', sans-serif;
	--white: #ffffff;
	--themeColor: #c04ae2;
	--textColor: #111111;
	--pColor: #5e5858;
	--pinkColor: #fe6686;
	--lightgreen: #54d6a1;
	--yellowColor: #fe9a3f;
	--grayColor: #adb0ba;
}
