.btn {
	height: 60px;
	line-height: 60px;
	font-size: 18px;
	font-weight: 800;
	text-transform: uppercase;
	color: var(--white);
	background: var(--themeColor);
	padding: 0 45px;
	border: 2px solid var(--themeColor);
	border-radius: 7px;
	transition: 0.3s;
	&:hover {
		background: transparent;
		color: var(--textColor);
	}
	&.btn-lg {
		text-transform: capitalize;
		font-size: 24px;
		height: 70px;
		line-height: 70px;
		padding: 0 60px;
	}
	&.btn-outline {
		background: transparent;
		color: var(--textColor);
		text-transform: capitalize;
		&:hover {
			background: var(--themeColor);
			color: var(--white);
		}
	}
	&.btn-outline-sm {
		height: 50px;
		line-height: 50px;
		padding: 0 40px;
		background: transparent;
		text-transform: capitalize;
		color: var(--textColor);
		&:hover {
			background: var(--themeColor);
			color: var(--white);
		}
	}
}
