.hero-area {
	height: 100vh;
	padding: 230px 0;
	background: url(../images/hero/herobg.png);
}
.hero-content {
	h2 {
		font-size: 90px;
		line-height: 108px;
		letter-spacing: -2px;
		margin-bottom: 30px;
	}
	p {
		font-size: 30px;
		line-height: 42px;
		color: var(--pColor);
		margin-bottom: 50px;
	}
}
