.intro-card-content {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 30px;
}

.single-card {
	text-align: center;
	padding: 90px 40px;
	border: 6px solid;
	border-radius: 18px;
	@media (max-width: 992px) {
		margin-bottom: 25px;
		padding: 50px 30px;
	}
	@media (max-width: 1200px) {
		margin-bottom: 25px;
		padding: 40px 20px;
	}
	img {
		margin-bottom: 50px;
	}
}

.col-lg-4 {
	&:nth-child(1) {
		.single-card {
			border-color: #fcd7df;
		}
	}
	&:nth-child(2) {
		.single-card {
			border-color: #c9f3e2;
		}
	}
	&:nth-child(3) {
		.single-card {
			border-color: #f2d5ba;
		}
	}
}
