.service-area {
	.col-lg-4 {
		&:nth-child(1) {
			.single-service {
				margin-top: 0px;
			}
		}
		&:nth-child(2) {
			.single-service {
				margin-top: 100px;
			}
		}
		&:nth-child(3) {
			.single-service {
				margin-top: 200px;
			}
		}
		&:nth-child(4) {
			.single-service {
				margin-top: -200px;
			}
		}
		&:nth-child(5) {
			.single-service {
				margin-top: -100px;
				margin-bottom: 0;
			}
		}
		&:nth-child(6) {
			.single-service {
				margin-bottom: 0;
			}
		}
		@media (max-width: 992px) {
			&:nth-child(1) {
				.single-service {
					margin-top: 0px;
					margin-bottom: 30px;
				}
			}
			&:nth-child(2) {
				.single-service {
					margin-top: 0;
					margin-bottom: 30px;
				}
			}
			&:nth-child(3) {
				.single-service {
					margin-top: 0;
					margin-bottom: 30px;
				}
			}
			&:nth-child(4) {
				.single-service {
					margin-top: 0;
					margin-bottom: 30px;
				}
			}
			&:nth-child(5) {
				.single-service {
					margin-top: 0;

					margin-bottom: 30px;
				}
			}
			&:nth-child(6) {
				.single-service {
					margin: 0;
				}
			}
		}
	}
}
.single-service {
	text-align: center;
	padding: 72px 35px;
	background: var(--white);
	border-radius: 25px;
	box-shadow: 0px 24px 72px 0px rgba(7, 28, 75, 0.07);
	margin-bottom: 50px;
	transition: 0.3s;
	&:hover {
		transform: translateY(-20px);
	}
	.service-icon {
		height: 84px;
		margin-bottom: 40px;
	}
	.service-content {
		margin-bottom: 30px;
	}
	.service-detail-btn {
		display: inline-block;
		transition: 0.3s;
		&:hover {
			transform: translateX(20px);
		}
	}
}
