/* ===================================
Project Name 	:   Rou
File 			:  CSS Base
Version 		:  1.0;

=====================================*/
:root {
  --overpassFont: 'Overpass', sans-serif;
  --robotoFont: 'Roboto', sans-serif;
  --white: #ffffff;
  --grayBg: #f3f3f4;
  --themeColor: #c04ae2;
  --textColor: #111111;
  --pColor: #5e5858;
  --pinkColor: #fe6686;
  --lightgreen: #54d6a1;
  --yellowColor: #fe9a3f;
  --grayColor: #adb0ba;
  --borderColor: #b3bed1;
}

/* ----------------
    01. Base style
-------------------*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  color: var(--textColor);
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
  margin: 0;
  padding: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

a:hover {
  color: var(--themeColor);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1180px;
  }
}

.standard-section {
  padding: 165px 0 190px 0;
}

@media (max-width: 992px) {
  .standard-section {
    padding: 100px 0 125px 0;
  }
}

.section-title {
  margin-bottom: 92px;
}

.section-title h5 {
  font-size: 24px;
  line-height: 72px;
  color: var(--themeColor);
  letter-spacing: -0.025px;
}

.section-title h2 {
  font-size: 60px;
  line-height: 90px;
  letter-spacing: -2px;
}

@media (max-width: 992px) {
  .section-title h2 {
    font-size: 40px;
    line-height: 50px;
  }
}

.view-all-link {
  text-align: center;
}

.view-all-link a {
  font-size: 18px;
  line-height: 36px;
  font-weight: 800;
  position: relative;
}

.view-all-link a::after {
  position: absolute;
  content: '';
  bottom: -10px;
  left: 0;
  width: 100%;
  border-bottom: 2px solid var(--themeColor);
}

/* ---------------
    02. Typography style
 ------------------*/
body {
  font-family: var(--overpassFont);
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--overpassFont);
  font-weight: 800;
  margin: 0;
  padding: 0;
}

h3 {
  font-size: 42px;
  line-height: 54px;
}

@media (max-width: 992px) {
  h3 {
    font-size: 30px;
    line-height: 40px;
  }
}

h4 {
  font-size: 30px;
  line-height: 42px;
  margin-bottom: 10px;
}

@media (max-width: 992px) {
  h4 {
    font-size: 28px;
    line-height: 35px;
  }
}

p {
  font-family: var(--robotoFont);
  font-size: 20px;
  line-height: 32px;
  color: var(--pColor);
  margin-bottom: 0;
}

@media (max-width: 992px) {
  p {
    font-size: 18px;
    line-height: 28px;
  }
}

/* ---------------
    03. Buttons style
 ------------------*/
.btn {
  height: 60px;
  line-height: 60px;
  font-size: 18px;
  font-weight: 800;
  text-transform: uppercase;
  color: var(--white);
  background: var(--themeColor);
  padding: 0 45px;
  border: 2px solid var(--themeColor);
  border-radius: 7px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.btn:hover {
  background: transparent;
  color: var(--textColor);
}

.btn.btn-lg {
  text-transform: capitalize;
  font-size: 24px;
  height: 70px;
  line-height: 70px;
  padding: 0 60px;
}

.btn.btn-outline {
  background: transparent;
  color: var(--textColor);
  text-transform: capitalize;
}

.btn.btn-outline:hover {
  background: var(--themeColor);
  color: var(--white);
}

.btn.btn-outline-sm {
  height: 50px;
  line-height: 50px;
  padding: 0 40px;
  background: transparent;
  text-transform: capitalize;
  color: var(--textColor);
}

.btn.btn-outline-sm:hover {
  background: var(--themeColor);
  color: var(--white);
}

/* ---------------
    04. Header style
------------------*/
.header-area {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  padding: 50px 0;
  z-index: 900;
}

@media (max-width: 992px) {
  .header-area {
    padding: 10px 0;
  }
}

.header-area .navbar-nav .nav-item {
  margin-right: 20px;
}

@media (max-width: 1200px) {
  .header-area .navbar-nav .nav-item {
    margin-right: 10px;
  }
}

.header-area .navbar-nav .nav-item a {
  font-size: 20px;
  color: var(--textColor);
}

.header-area .navbar-nav .nav-item:hover > a {
  color: var(--themeColor);
}

.social-link li {
  display: inline-block;
  margin-left: 20px;
}

.social-link li i {
  font-size: 21px;
}

.social-link li .fa-facebook {
  color: #3b5998;
}

.social-link li .fa-twitter {
  color: #1da1f2;
}

.social-link li .fa-youtube-play {
  color: #ff1e00;
}

.social-link li .fa-instagram {
  color: #dd4b39;
}

@media (max-width: 992px) {
  .main-menu {
    background: var(--white);
    -webkit-box-shadow: 0px 2px 20px -5px #979595;
            box-shadow: 0px 2px 20px -5px #979595;
    padding: 20px;
    margin: 10px 0;
    border-radius: 10px;
  }
  .main-menu .btn {
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .main-menu .social-link {
    margin-left: -20px;
  }
}

/* ---------------
    05. Hero area style
------------------*/
.hero-area {
  height: 100vh;
  padding: 230px 0;
  background: url(../images/hero/herobg.png);
}

@media (max-width: 992px) {
  .hero-area {
    padding: 160px 0;
  }
}

@media (max-width: 768px) {
  .hero-content {
    text-align: center;
  }
}

.hero-content h2 {
  font-size: 90px;
  line-height: 108px;
  letter-spacing: -2px;
  margin-bottom: 30px;
}

@media (max-width: 1200px) {
  .hero-content h2 {
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 10px;
  }
}

.hero-content p {
  font-size: 30px;
  line-height: 42px;
  color: var(--pColor);
  margin-bottom: 50px;
}

@media (max-width: 1200px) {
  .hero-content p {
    font-size: 18px;
    line-height: 30px;
  }
}

@media (max-width: 1200px) {
  .hero-img img {
    width: 100%;
  }
}

@media (max-width: 772px) {
  .hero-img img {
    margin-top: 30px;
  }
}

/* ---------------
    06. Hero area style
------------------*/
.intro-card-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
}

.single-card {
  text-align: center;
  padding: 90px 40px;
  border: 6px solid;
  border-radius: 18px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.single-card:hover {
  -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

@media (max-width: 992px) {
  .single-card {
    margin-bottom: 25px;
    padding: 50px 30px;
  }
}

@media (max-width: 1200px) {
  .single-card {
    margin-bottom: 25px;
    padding: 40px 20px;
  }
}

.single-card img {
  margin-bottom: 50px;
}

.col-lg-4:nth-child(1) .single-card {
  border-color: #fcd7df;
}

.col-lg-4:nth-child(2) .single-card {
  border-color: #c9f3e2;
}

.col-lg-4:nth-child(3) .single-card {
  border-color: #f2d5ba;
}

/* ---------------
    07. About area style
------------------*/
.about-area .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-content p {
  margin-bottom: 40px;
}

.about-title h2 {
  font-size: 60px;
  line-height: 72px;
  margin-bottom: 10px;
}

@media (max-width: 1200px) {
  .about-title h2 {
    font-size: 40px;
    line-height: 50px;
  }
}

.about-title p {
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 20px;
}

.about-img img {
  margin-left: 160px;
}

@media (max-width: 1200px) {
  .about-img img {
    width: 100%;
    margin: 50px 0 0 0;
  }
}

/* ---------------
    08. Service area style
------------------*/
.service-area .col-lg-4:nth-child(1) .single-service {
  margin-top: 0px;
}

.service-area .col-lg-4:nth-child(2) .single-service {
  margin-top: 100px;
}

.service-area .col-lg-4:nth-child(3) .single-service {
  margin-top: 200px;
}

.service-area .col-lg-4:nth-child(4) .single-service {
  margin-top: -200px;
}

.service-area .col-lg-4:nth-child(5) .single-service {
  margin-top: -100px;
  margin-bottom: 0;
}

.service-area .col-lg-4:nth-child(6) .single-service {
  margin-bottom: 0;
}

@media (max-width: 992px) {
  .service-area .col-lg-4:nth-child(1) .single-service {
    margin-top: 0px;
    margin-bottom: 30px;
  }
  .service-area .col-lg-4:nth-child(2) .single-service {
    margin-top: 0;
    margin-bottom: 30px;
  }
  .service-area .col-lg-4:nth-child(3) .single-service {
    margin-top: 0;
    margin-bottom: 30px;
  }
  .service-area .col-lg-4:nth-child(4) .single-service {
    margin-top: 0;
    margin-bottom: 30px;
  }
  .service-area .col-lg-4:nth-child(5) .single-service {
    margin-top: 0;
    margin-bottom: 30px;
  }
  .service-area .col-lg-4:nth-child(6) .single-service {
    margin: 0;
  }
}

.single-service {
  text-align: center;
  padding: 72px 35px;
  background: var(--white);
  border-radius: 25px;
  -webkit-box-shadow: 0px 24px 72px 0px rgba(7, 28, 75, 0.07);
          box-shadow: 0px 24px 72px 0px rgba(7, 28, 75, 0.07);
  margin-bottom: 50px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.single-service:hover {
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
}

.single-service .service-icon {
  height: 84px;
  margin-bottom: 40px;
}

.single-service .service-content {
  margin-bottom: 30px;
}

.single-service .service-detail-btn {
  display: inline-block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.single-service .service-detail-btn:hover {
  -webkit-transform: translateX(20px);
          transform: translateX(20px);
}

/* ---------------
    09. Service area style
------------------*/
.project-area {
  background: -webkit-gradient(linear, left top, right top, from(#e6e9f1), to(#f9fcff));
  background: linear-gradient(90deg, #e6e9f1 0%, #f9fcff 100%);
}

.single-project {
  margin-bottom: 85px;
}

@media (max-width: 762px) {
  .single-project .project-thumb img {
    width: 100%;
  }
}

@media (max-width: 992px) {
  .single-project .project-thumb {
    text-align: center;
    margin-bottom: 30px;
  }
}

.single-project:nth-child(2) .project-thumb {
  text-align: right;
}

.single-project:nth-child(2) .project-title h5 {
  color: var(--lightgreen);
}

.project-content p {
  margin-bottom: 40px;
}

.project-title {
  margin-bottom: 20px;
}

.project-title h5 {
  font-size: 24px;
  line-height: 42px;
  color: var(--pinkColor);
  margin-bottom: 10px;
}

.project-title h3 {
  font-size: 42px;
  line-height: 54px;
}

@media (max-width: 992px) {
  .project-title h3 {
    font-size: 28px;
    line-height: 40px;
  }
}

/* ---------------
    10. Team area style
------------------*/
.team-area {
  background: -webkit-gradient(linear, left top, right top, from(#eef1f7), to(#f9fcff));
  background: linear-gradient(90deg, #eef1f7 0%, #f9fcff 100%);
}

.team-wrapper .col-lg-3:nth-child(2) .single-team {
  margin-top: 70px;
}

.team-wrapper .col-lg-3:nth-child(4) .single-team {
  margin-top: 70px;
}

.team-thumb {
  margin-bottom: 30px;
}

.team-thumb img {
  width: 100%;
}

.team-info h3 {
  font-size: 24px;
  line-height: 48px;
}

.team-info p {
  font-size: 18px;
  line-height: 36px;
}

/* ---------------
    11. Testimonial area style
------------------*/
.testimonial-area {
  padding-bottom: 190px;
  background: -webkit-gradient(linear, left top, right top, from(#eef1f7), to(#f9fcff));
  background: linear-gradient(90deg, #eef1f7 0%, #f9fcff 100%);
}

.single-testimonial .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testimonial-content .section-title {
  margin-bottom: 40px;
}

.testimonial-content p {
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 70px;
}

.testimonial-content h4 {
  font-size: 24px;
  line-height: 48px;
  margin-left: 40px;
  position: relative;
}

.testimonial-content h4::after {
  position: absolute;
  content: '';
  top: 50%;
  left: -40px;
  height: 2px;
  width: 18px;
  background: #332e98;
}

.testimonial-content span {
  font-family: var(--robotoFont);
  font-weight: 400;
  font-size: 18px;
  color: var(--grayColor);
  margin-left: 20px;
}

.testimonial-thumb {
  text-align: right;
}

@media (max-width: 1200px) {
  .testimonial-thumb {
    text-align: center;
    margin-top: 50px;
  }
  .testimonial-thumb img {
    width: 100%;
  }
}

/* ---------------
    12. Testimonial area style
------------------*/
.contact-form-area h3 {
  margin-bottom: 40px;
}

.contact-form-area .rou-form {
  width: 100%;
  height: 70px;
  font-size: 20px;
  line-height: 28px;
  font-family: var(--robotoFont);
  padding: 0 30px;
  border-radius: 7px;
  background-color: white;
  -webkit-box-shadow: 14.562px 10.58px 48px 0px rgba(0, 0, 0, 0.06);
          box-shadow: 14.562px 10.58px 48px 0px rgba(0, 0, 0, 0.06);
  border: 1px solid Var(--white);
  margin-bottom: 30px;
}

.contact-form-area textarea.rou-form {
  padding: 30px;
  height: 212px;
}

.contact-info-area {
  margin-top: 100px;
}

.contact-info-area > p {
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 45px;
}

.single-contact-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.single-contact-info .contact-icon {
  height: 48px;
  width: 48px;
  border-radius: 50%;
  background: var(--pinkColor);
  text-align: center;
  margin-right: 20px;
}

.single-contact-info .contact-icon i {
  font-size: 18px;
  padding: 15px;
  color: var(--white);
}

.single-contact-info:nth-child(2) .contact-icon {
  background: var(--lightgreen);
}

.single-contact-info:nth-child(3) .contact-icon {
  background: var(--yellowColor);
}

.contact-detail h5 {
  font-size: 21px;
  line-height: 24px;
}

.contact-detail p {
  font-size: 18px;
  line-height: 30px;
}

/* ---------------
    13. Blog area style
------------------*/
.blog-area {
  background: var(--grayBg);
}

.all-blog-link .view-all-link {
  text-align: right;
  margin-top: 100px;
}

@media (max-width: 992px) {
  .all-blog-link .view-all-link {
    margin-top: -20px;
    margin-bottom: 30px;
    text-align: left;
  }
}

.single-blog {
  padding: 50px 40px;
  border: 1px solid var(--borderColor);
  border-radius: 18px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media (max-width: 992px) {
  .single-blog {
    margin-bottom: 30px;
  }
}

@media (max-width: 1200px) {
  .single-blog {
    padding: 40px 25px;
  }
}

.single-blog:hover {
  background: var(--white);
  border-color: transparent;
}

.single-blog .blog-title h5 {
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 10px;
}

.single-blog .blog-title h4 {
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.02px;
}

.single-blog .blog-title a:hover {
  color: inherit;
}

.single-blog .blog-content {
  margin-bottom: 30px;
}

.single-blog .blog-post-meta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.single-blog .post-admin a {
  font-family: var(--overpassFont);
  font-weight: 800;
  font-size: 21px;
}

.single-blog .post-admin a img {
  margin-right: 10px;
}

.single-blog .post-widget a {
  font-family: var(--robotoFont);
  color: #adb0ba;
  cursor: pointer;
  font-size: 18px;
}

.blog-wrapper .col-lg-4:nth-child(1) .blog-title h5 {
  color: var(--pinkColor);
}

.blog-wrapper .col-lg-4:nth-child(2) .blog-title h5 {
  color: var(--lightgreen);
}

.blog-wrapper .col-lg-4:nth-child(3) .blog-title h5 {
  color: var(--yellowColor);
}

/* ---------------
    14. Footer area style
------------------*/
.footer-top {
  padding: 170px 0;
}

@media (max-width: 992px) {
  .footer-top {
    padding: 100px 0;
  }
}

.footer-widget .footer-widget-logo {
  margin-bottom: 40px;
}

.footer-widget .footer-widget-title {
  margin-bottom: 40px;
}

.footer-widget .footer-widget-title h4 {
  font-size: 24px;
}

.footer-widget .footer-widget-content p {
  font-size: 18px;
  margin-bottom: 25px;
}

.footer-widget .footer-widget-content p i {
  margin-right: 10px;
}

.footer-widget.footer-about {
  margin-left: 125px;
}

@media (max-width: 992px) {
  .footer-widget {
    margin-bottom: 30px;
  }
  .footer-widget.footer-about {
    margin-left: 0;
  }
  .footer-widget .footer-widget-title {
    margin-bottom: 20px;
  }
}

.footer-submit-form input {
  font-size: 18px;
  font-family: var(--robotoFont);
  height: 66px;
  background: #f3f9fb;
  padding: 0 20px;
  border: none;
  border-radius: 7px;
}

.footer-submit-form button {
  font-size: 24px;
  padding: 0 20px;
  background: #f3f9fb;
  border: none;
  border-radius: 7px;
}

.footer-widget-content li a {
  font-family: var(--robotoFont);
  font-size: 18px;
  color: var(--pColor);
}

.footer-widget-content li + li {
  margin-top: 10px;
}

.footer-bottom {
  margin-bottom: 60px;
}

@media (max-width: 992px) {
  .footer-bottom {
    margin-bottom: 30px;
  }
}

.footer-social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 6px;
}

@media (max-width: 992px) {
  .footer-social-link {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 20px;
  }
}

.footer-social-link h5 {
  font-size: 18px;
  margin-bottom: 0;
  margin-right: 40px;
}

.copy-right-info {
  text-align: right;
}

@media (max-width: 992px) {
  .copy-right-info {
    text-align: center;
  }
}

.copy-right-info p {
  font-size: 18px;
}

.copy-right-info p span {
  font-family: var(--overpassFont);
  font-weight: 800;
  color: var(--textColor);
}
/*# sourceMappingURL=style.css.map */